.menu__hamburger {
    background-color: transparent;
    border: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    position: relative;
    gap: 0.5rem;
}

.menu__hamburger:hover {
    background-color: var(--background-hover);
}

.menu__hamburger::before,
.menu__hamburger::after {
    content: "";
    display: block;
}

.menu__hamburger::before,
.menu__hamburger > span,
.menu__hamburger::after {
    border-radius: 1rem;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--text-main);
}

.menu {
    min-width: 20vw;
    width: 40rem;
    max-width: 80vw;
    background-color: var(--background-color-primary);
    color: var(--text-secondary);
    padding: 2rem 2.5rem 5rem 4rem;
    border-bottom-left-radius: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 10px 5px 5px rgba(71, 71, 71, 0.6);
    transform: scale(0);
    transform-origin: top right;
    transition: transform linear 0.1s;
}

.menu-open {
    transform: scale(1);
}


.menu__timerOptions,
.menu__header-list {
    display: flex;
    list-style: none;
}

.menu__header-list {
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
}

.menu__timerOptions {
    flex-direction: column;
    font-size: 2rem;
    font-weight: 100;
    padding: 0.5rem;
}

.menu__timerOptionsElement:hover,
.menu__element:hover {
    background-color: var(--background-hover-secondary);
    border-radius: 1rem;
}
.home__menu-back-btn,
.menu__header-close {
    cursor: pointer;
    margin-left: auto;
    transition: transform linear 0.2s;
}

.menu__header-close {
    font-size: 2rem;
}

.menu__title {
    font-size: 2rem;
    font-weight: bold;
}

.menu__header-close:hover {
    transform: scale(1.1) rotate(1deg);
}

.home__menu-back-btn {
    font-size: 3rem;
}

.menu__header-close:hover {
    transform: scale(1.1) rotate(1deg);
}

.menu__timerOptionsElement {
    padding: 2rem 1rem;
}

.menu__timerOptionsElement,
.menu__element {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu__element {
    gap: 0.5rem;
}

.menu__timerOptionsElement {
    gap: 1rem;
}