:root {
    --background-color-primary: rgb(255, 255, 255);
    --background-hover-secondary: rgba(146, 146, 146, 0.2);
    --text-main: rgb(237, 236, 236);
    --text-secondary: rgb(40, 37, 37);
    --background-hover: rgba(213, 213, 213, 0.1);
    --background-high-contrast: rgb(0,0,0);
    --btn-border-primary: rgb(255, 255, 255);
    --font-border:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.light-theme {
    --text-main: rgb(0,0,0);
}

@font-face {

    font-family: 'Fira Sans'; /* Choose a name for your font */
    src: url('../public/fonts/Fira_Sans/FiraSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../public/fonts/Fira_Sans/FiraSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../public/fonts/Fira_Sans/FiraSans-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../public/fonts/Fira_Sans/FiraSans-SemiBold.ttf');
    font-weight: 100;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.625rem;
    font-family: 'Fira Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.6rem;
}