.musicAlbumCard,
.musicAlbumCard__image {
    border-radius: 2rem;
    height: 200px;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
}

.musicAlbumCard {
    width: 250px;
    max-height: 250px;
    max-width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    padding: 1.5rem;
    transition: background-color 0.5s ease;
    align-items: center;
}

.musicAlbumCard:hover {
    background-color: var(--background-hover-secondary);
}

.musicAlbumCard__title {
    font-size: 1.6rem;
    font-weight: 700;
}
